*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#homepage{
    background-image: (url(original.jpg);
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 20px 30px;
}
.navbardiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 20px;
    font-weight: 80px;
    color: #fc2e20;
}
ul li{
    list-style:none;
    display: inline-block;
}
ul li a{
    color:rgb(195, 0, 255)(255, 0, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 30px 20px;
    transition: 0.5s ease-in-out;
}
ul li a:hover{
    color:#ff4e41;
}
.nav-btn{
    color:#fc2e20;
    font-size: 16px;
    font-weight: 600px;
    padding: 13px 30px;
    border-radius: 30;
    border: 0px;
    transition: 0.4s ease-in-out;
}
na-btn a{
    color:#ffff;
}
nav-btn:hover{
    background: #e80000;
}
.content{
    margin: auto;
    color: #ffffff;
    text-align: center;
}
.content h1{
    font-weight: 80px;
    margin-top: 120;
}
.content h1 span{
    color: #fc2e20;
}
.content p{
    font-size: 17px;
    line-height: 30;
    letter-spacing:1px; 
}
.content.btn-1{
    padding 13px 40px;
    background: #fc2e20;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #fc2e20;
    border-radius: 30px;
    margin: 30px 10px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}
.content.btn-1a{
    color:#ffff;
}
.content.btn-2{
        padding 13px 40px;
        background:transparent;
        border-radius: 30px;
        font-weight: 600;
        font-size: 15px;
        border: 2px solid #fc2e20;
        margin: 30px 10px;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
}
.content.btn-2a{
    color: #71ca0b;
}
.content.btn-2:hover{
    background: #ffffff;
    border-color:#ffffff;

    .content.btn-2a{
        
    }
}
